* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: whitesmoke;
}

.urlBox {
    font: 14px asap, arial;
    height: auto;
    background-color: teal;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: auto;
    border: 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.formContainer {
    display: block;
   
}

.shortLink {
    display: none;
}

.linkBox {
    display: none;
}

.history {
    width: 100%;
    font: 14px asap, arial;
    height: auto;
    background-color: teal;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    border: 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

table {
    width: inherit;
    text-align: center;
    margin: auto;
}

td {
    max-width: 100px;
    word-wrap: break-word;
    overflow: hidden;
    border: 2px solid black;
    padding: 3px;
    vertical-align: middle;
}

a {
    width: inherit;
}

body {
    background-color: rgb(54, 69, 79);
}

h1 {
    font-family: 'Inter', sans-serif;
}

h1 > a {
    text-decoration: none;
}

.callToAction {
    margin-bottom: 20px;
}


.formContainer, .shortLink {
    width: 100%;
}

th {
    text-align: center;
    width: auto;
    border: 2px solid black;
}

.link {
    color: black;
}

i {
    cursor: pointer;
    margin-top: 10px;
}


input[type="text"] {
    height: 56px;
    width: 75%;
    border: 1px solid #bbb;
    background-color:  rgb(54, 69, 79);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 10px;
}

#shorten, #copyLink {
    width: auto;
    height: 56px;
    border: none;
    border-radius: 5px;
    background-color:  rgb(54, 69, 79);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    outline: none;
    padding: 5px;
    cursor: pointer;
    color: whitesmoke;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

p {
    font: 17px "source sans pro", arial;
    text-align: center;
}
